body{ display: flex;
  flex-direction: column;
  margin: 0;
}

marquee {
  background-color: red;
  font-weight: bold;
  display: flex;
}

header{

  display: flex;
  align-items: center;
  padding: 13px 0;
  justify-content: space-between;
  background-color: #4c4c4c;
  line-height: 10px;
}
nav a{
  text-decoration: none;
  color: #bfbfbf;
  font-weight: bold;
  font-weight: bold;
  
}
nav li{
  list-style-type: none;
  padding: 13px 10px 13px 10px;
 
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav a:hover{
  background-color: aliceblue;
}

#logo img{
  height: 40px;
}

#main{
  display: flex;
 flex-direction: column;
  background-color: #f18d97;
  justify-content: center; 
  background-image: url("images/floral.png");
}

h1{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

#about-tech{
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 25px;
  margin: 0 11em;
  
}

.join{
  margin-top: 20px; 
  text-align: center;
  margin-bottom: 20px;
}
 button{
  background-color: #170d0e;
  border: none;
  padding: 1em 4em;
  color: #f18d97;
  font-size: 26px;

 }

 button:hover{
   background-color: wheat;
 }


 .service{
  background-image: url("images/floral.png");
  background-color: #efece7; 
 }



 h2{
  padding-top: 19px;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-align: center;
 }

#figure{ 
  display: inline-flex;
text-align: center;
}

figure i{
  font-size: 7em;
}

.lorem{
  font-size: 25px;
}

h3{
  font-size: 3em;
}

.portfolio{
  background-image: url("images/floral.png");
  background-color: #ddceb4;
  display: flex;
  flex-direction: column;
}


.portfolio h2{
  border-bottom: 1px solid black;
  margin-left: 5em;
  margin-right: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.portfolio p{
  font-size: 2em;
  color: black;

}

.image{
  width: 300px;
  height: 250px;
 border-radius: 20px;
 border: 1px solid rgba(255,255,255,0.5);

}

.fig i{
  font-size: 2em;
  padding: 0 10px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
color: white;
  }

  
.fig{
  display: flex;
  position: relative;
  
}

.fcaption{
  display: none;
 position: absolute;
 width: 300px;
 height: 250px;
 
border-radius: 20px;
text-align: center;
}


#prg{
  border-bottom: 2px solid rgba(0,0,0,0.5);
  margin-left: 7em;
  margin-right: 9em;
  border-width: thick;
  padding-bottom: 1em;
  
}

.fig:hover > .fcaption{
    display: block;
    cursor: pointer;
    background-color: black;
}
h4{
  font-size: 20px;
  color: white;
  margin-top: 79px;
}
#container{
  display: flex;
  justify-content: center;
}

.contact{
  background-image: url("images/floral.png");
  background-color: #afc7c6;
}

.contact-icon{
  display: flex;
  justify-content: center;
  
}

.contact-icon i{
  border: 1px solid black;
  font-size: 3em;
  padding: 10px 10px;
  border-radius: 50%;
  margin: 0px 10px;
}


h3{
  text-align: center;
 
}

.contact-icon i{
  color: white;
 margin-bottom: 20px;
}
.contact-icon i:hover{
  color: #fcdea6;
  background-color: black;
  }

  h5:hover > i{
    color: red;
 }

 h5{
   text-align: center; 
   font-size: 30px;
   color: white;

 }

 .portfolio p{
   text-align: center;
 }



footer{
  background-color: #212121;
}